<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Book Entry</h1>
        <h:form>
            <div>
                <h:outputLabel value="Add book: "/>
                <h:inputText value="#{bookManagedBean.name}"/>
            </div>
            <h:commandButton type="submit" action="#{bookManagedBean.addBook(bookManagedBean.name)}" value="Submit"/>
        </h:form >
    </body>
</html>
