<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      >
    <h:head>
    </h:head>
    <h:body>
        <h1>Books</h1>
        <h:form>
            <ul>
                <ui:repeat var="list" value="#{bookManagedBean.contents}">
                    <li>
                        #{list.toString()}
                    </li>




                </ui:repeat>

            </ul>
            <div>
                <h:commandButton action="index" value="Back"></h:commandButton>
            </div>
        </h:form>

    </h:body>
</html>

