<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h1>Menu</h1>
        <h:form>
            <div>
                <h:commandLink action="AddBook">Add a book</h:commandLink>
            </div>
            <div>
                <h:commandLink action="Books">Get book contents</h:commandLink>
            </div>
            <div>
                <h:commandLink action="DeleteBook">Delete a book</h:commandLink>
            </div>
             
            
        </h:form>
        
    </h:body>
</html>

